.backLink {
  text-decoration: none;
}

.backText {
  padding: 10px;
  outline: 1px solid tomato;
  border-radius: 5px;
}

.backText:hover {
  background-color: tomato;
  color: white;
}

.movieCard {
  display: flex;
  margin-top: 25px;
}

.movieInfo {
  padding-top: 15px;
  padding-left: 15px;
}

.overview {
  width: 500px;
}

.addInfo {
  padding-top: 15px;
}

.addInfoItem {
  text-decoration: none;
  color: black;
}

.addInfoItem:hover {
  text-decoration: underline;
  color: tomato;
}
